#root {
    -fx-background-image: url("29-292972_wallpaper-linear-gradient-pink-orange-medium-violet-pink.jpg");
    -fx-background-size: cover;
}

/*
.colorBackground{
    -fx-background-color: linear-gradient( to right top,#facd68, #fc76b3);
}*/